<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <!-- bootstrap 栅格化布局 默认12列 （有一些框架可能是24列） -->
        <!-- 常见的样式 基本样式 + 增强样式 -->
        <!-- default 灰色 success 绿色  danger 红色 warning 警告色 info 浅蓝色 primary 蓝色 -->
        <!-- vue的ui框架 iview mintui elementui -->
        <div class="container">
            <!-- 每一行又会拥有12列 -->
            <div class="row">
                <table class="table table-hover table-borderd">
                    <caption class="h2 text-warning text-center">珠峰购物车</caption>
                    <tr>
                        <!-- click 点击时 checkbox的状态还没有改变 所以拿到的总是相反的
                            change可以保证只当值变化后再出触发函数
                        -->
                        <th>全选 <input type="checkbox" v-model="checkAll"></th>
                        <td>商品</td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>小计</td>
                        <td>操作</td>
                    </tr>
                    <tr v-for="(product,index) in products">
                        <td>
                            <input type="checkbox" 
                                   v-model="product.isSelected">
                        </td>
                        <td>
                            <!-- :和v-bind 等价 指令：动态绑定数据 :title="product.productName" -->
                            <img v-bind:src="product.productCover" >
                            {{product.productInfo}}
                        </td>
                        <td>
                            {{product.productPrice}}
                        </td>
                        <td>
                            <!-- .number 是让输入框的值变成数字类型 .lazy 当输入框失去焦点时更新数据 -->
                            <input type="number" v-model.number="product.productCount" min="1">
                        </td>
                        <td>
                            <!-- 希望代码可以复用 -->
                            <!-- {{'￥'+(product.productCount*product.productPrice).toFixed(2)}} -->
                            <!-- 过滤器 原数据不变的情况，只是改变显示的效果 管道符 -->
                            {{product.productCount*product.productPrice | toFixed(2)}}
                        </td>
                        <td><button class="btn btn-warning" @click="remove(product)">删除</button></td>
                    </tr>
                    <tr>
                        <!-- {{sum() | toFixed(2)}} 数据一变化就会重新调用此函数 算出最新的结果
                        不会缓存上一次的结果 computed可以解决这个问题 -->
                        <td colspan="6">总价格: {{sum | toFixed(2)}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    <!-- 
        错误写法：
        <img src="product.productCover" alt="">
        <img src="{{product.productCover}}" alt="">
    -->
    <script src="./node_modules/vue/dist/vue.js"></script>
    <!-- 基于promise的 -->
    <script src="./node_modules/axios/dist/axios.js"></script>
    <script>
        let vm = new Vue({
            el : '#app',
            /* 当给全选赋值时，要影响其他人的变化，当页面刷新时，获取全选值，
            是根据下面的checkbox计算出来的结果给全选赋值 Object.defineProperty */
            computed:{ // 放在computed中最后也会放在vm上，不能和methods与data重名
                checkAll:{
                    // 当products值变化时会重新计算，当商品的数量，没有发生改变
                    get(){ // get和set this只想实例 默认v-model 会获取checkAll的值 所以会调用get方法
                        return this.products.every(p=>p.isSelected);
                    },
                    set(val){ // 当我们给checkbox赋值的时候
                        this.products.forEach(p=>p.isSelected = val);
                    }
                },
                sum(){ // 如果计算属性写成函数，默认调用的就是get方法
                    return this.products.reduce((prev,next)=>{
                        if(!next.isSelected)return prev; // 如果当前这个没被选中 就不加当前这一项
                        return prev+next.productPrice*next.productCount;
                    },0);
                }
                /* sum:{ // sum的结果会被缓存 如果依赖的数据没有变化就不会重新
                    get(){ 
                        return this.products.reduce((prev,next)=>{
                            if(!next.isSelected)return prev; // 如果当前这个没被选中 就不加当前这一项
                            return prev+next.productPrice*next.productCount;
                        },0);
                    }
                } */
            },
            filters:{ // 可以有好多的自定义过滤器
                toFixed(input,param1){ // 这里的this指向的是window
                    // input 相当于 | 前面的值
                    // return input 
                    // return input.toFixed(2) 数字不固定，需要传参进来
                    return '￥'+input.toFixed(param1); 
                    // input 代表的是管道符前面的内容 param1 代表的是 toFixed中传递的参数
                }
            },
            // 专门用来发送ajax的方法
            created(){ // 在数据被初始化后会调用,this指向指的也是vm实例,钩子函数
                this.getData();
            },
            methods:{
                getData(){ // 数据初始化
                    // Promise 解决回调问题的
                    axios.get('./carts.json').then(res =>{ // success
                        this.products = res.data; // 获取数据 需要的是res.data
                        this.checkOne(); // 数据获取完成后给 checkAll 赋值 当一开始所有的项 isSelected 都为true 需要使用到
                    },err => { // error
                        console.log(err);
                    });
                },
                remove(p){  // p 代表的是当前点击的这一项[xxx,ooo,qqq,ppp]
                    // 把相同的过滤出来
                    this.products =this.products.filter(item=>item!==p)
                },
            },
            data : {
                products:[]
            }
        })


        /* created(){ // 在数据被初始化后会调用,this指向指的也是vm实例,钩子函数
            axios.get('./cart.json').then(function(res){ // success
                // this.products = res.data; 为空 这里的this指向window,所以要使用箭头函数
            },function(err){ // error
                console.log(err);
            });
        }, */
    </script>
</body>
</html>